<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.msdk.adapter"
    android:versionCode="2037"
    android:versionName="5.9.000.2037" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="28" />

</manifest>